<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent headroom--not-bottom headroom--not-top headroom--pinned">
        <div class="container position-relative">
            <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="./index.html">Crypto</a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./index.html" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                Crypto
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link" routerLink="/login">
                            <span class="nav-link-inner-text">Login</span>
                            <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" routerLink="/signup">
                            <span class="nav-link-inner-text">Sign Up</span>
                            <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" routerLink="">
                            <span class="nav-link-inner-text">Connect Wallet</span>
                            <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <span class="nav-link-inner-text">Pages</span>
                            <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="./html/pages/about.html">About</a></li>
                            <li><a class="dropdown-item" href="./html/pages/pricing.html">Pricing</a></li>
                            <li><a class="dropdown-item" href="./html/pages/contact.html">Contact</a></li>
                            <li><a class="dropdown-item" href="./html/pages/sign-in.html">Sign in</a></li>
                            <li><a class="dropdown-item" href="./html/pages/sign-up.html">Sign up</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>