<div class="container">
    <div class="row mb-5">
        <div class="col-12 col-lg-4">
            <div class="card shadow-inset border-light">
                <div class="card-body p-5">
                    <h3 class="h4 card-title mb-3">We partnered up with Google</h3>
                    <span class="card-text small"><span class="far fa-calendar-alt mr-2"></span>15 March 2020</span>
                    <p class="card-text mt-4">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex align-items-center">
                        <a href="#" class="btn btn-sm mr-3 p-2">Learn More</a>
                        <a href="#" class="small"><span class="far fa-comments mr-2"></span>21</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="container">
    <div class="row mb-5">
        <div class="col-12 col-lg-4">
            <div class="card shadow-inset border-light">
                <div class="card-body p-5">
                    <h3 class="h4 card-title mb-3">We partnered up with Google</h3>
                    <span class="card-text small"><span class="far fa-calendar-alt mr-2"></span>15 March 2020</span>
                    <p class="card-text mt-4">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex align-items-center">
                        <a href="#" class="btn btn-sm mr-3 p-2">Learn More</a>
                        <a href="#" class="small"><span class="far fa-comments mr-2"></span>21</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="container">
    <div class="row mb-5">
        <div class="col-12 col-lg-4">
            <div class="card shadow-inset border-light">
                <div class="card-body p-5">
                    <h3 class="h4 card-title mb-3">We partnered up with Google</h3>
                    <span class="card-text small"><span class="far fa-calendar-alt mr-2"></span>15 March 2020</span>
                    <p class="card-text mt-4">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex align-items-center">
                        <a href="#" class="btn btn-sm mr-3 p-2">Learn More</a>
                        <a href="#" class="small"><span class="far fa-comments mr-2"></span>21</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<div>
    <form>
  
      <input type="text" placeholder="cToken" #cToken>
      <input type="text" placeholder="Address" #address>
  
      <div class="form-row">
        <button type="submit" (click)="getTokenBalance(cToken.value, address.value)">Save</button>
      </div>
    </form>
  </div>

<div class="tokenBalance">
    Token Balance = {{compound.tokenBalance}}
</div>

<button class="btn btn-pill btn-primary" type="button">Button</button>